*{
    padding: 0;
    margin: 0;
}

.container{
    width: 55%;
}

a.nav-link:hover,
a.nav-link:active,
a.nav-link:focus
{
    color: #f8f9fa !important;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary.bg-dark {
    padding: 0;
    background: black!important;
    opacity: 1;
}
li.nav-item {
    font-size: 12px;
}
i.bi.bi-apple {
    font-size: 16px;
}

.banner {
    background: url(../img/banner.jpg);
    background-size: cover;
    height: 625px;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-nav-scroll {
    width: 100%;
    display: flex;
    /* align-content: center; */
    align-items: center;
    justify-content: space-around;
}

.banner .inner-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 75px;
}
.inner-text a{
    color: #e8e8ea;
    text-decoration: none;
}
.inner-text h1{
    font-size: 50px;
}
.inner-text h3{
    font-weight: 400;
    line-height: 18px;
}
.inner-link a{
    font-size: 20px;
    color: #0099ff;
    /* padding-left: 18px; */
}
.inner-link a:hover,
.inner-link a:focus,
.inner-link a:active
{
    text-decoration: underline;
}
.inner-link a span i:hover,
.inner-link a span i:focus,
.inner-link a span i:active
{
    text-decoration: none;
}
.inner-text div span, .bi-play-circle-fill, .bi-arrow-up-right {
    padding-left: 0.4%;
    font-size: 20px;
    color: #0099ff;
}
.inner-link {
    padding-top: 15px;
}
.iphone_14 {
    background-color: #fbfbfd;
}
.bg_2{
    background: url("../img/hero_iphone14.jpg");
    background-size: cover;
    height: 625px;
    background-repeat: no-repeat;
    background-position: center;
}

.bg_2 .inner-text h1, .bg_2 .inner-text h3, .bg_6 h2, .bg_6 h5, .bg_7 h2, .bg_7 h5,.bg_8 h2, .bg_8 h5 {
    color: black;
}

.bg_2 h3{
    letter-spacing: -1.9px;
}

.homepod .banner{
    background: url("../img/homepod.jpg");
    background-size: cover;
    height: 625px;
    background-repeat: no-repeat;
    background-position: center;
}

.homepod .container-fluid{
    padding: 15px 0px 0px;
}

.bg_3{
    background: url("../img/apple_watch.jpg");
    background-size: cover;
    height: 625px;
    background-repeat: no-repeat;
    background-position: center;
}
.bg_4{
    background: url("../img/promo_bhm_watch.jpg");
    background-size: cover;
    height: 625px;
    background-repeat: no-repeat;
    background-position: center;
}
.small_items i.bi.bi-apple{
    font-size: 23px;
    vertical-align: bottom;
}

.small_items .inner-text h3 {
    font-weight: 600;
    line-height: 18px;
    font-size: 23px;
    font-family: sans-serif;
    /* font-stretch: ultra-condensed; */
    letter-spacing: 0.5px;
}
.small_items .col{
    padding: 12px 0px 12px 12px;
}
.small_items .inner-link a {
        font-size: 17px;
}
.box_1 p {
    line-height: 10px;
    font-size: 11px;
    letter-spacing: 1.5px;
    color: #c01f25;
    font-weight: 700;
    text-shadow: -1px 4px 7px #c17272;
}
.box_1 h5{
    font-weight: 400;
    line-height: 15px;
}
.box_1 .inner-link{ 
    padding-top: 6px;
}
.box_2 h5,
.bg_5 h5,
.bg_7 h5,
.bg_8 h5 {
    font-weight: 400;
    line-height: 25px;
}
.line_2 .col{
    padding: 0px 0px 12px 12px;
}
.bg_5{
    background: url("../img/promo_timothe.jpg");
    background-size: cover;
    height: 625px;
    background-repeat: no-repeat;
    background-position: center;
}
.bg_6{
    background: url("../img/promo_valentines_day.jpg");
    background-size: cover;
    height: 625px;
    background-repeat: no-repeat;
    background-position: center;
}
.bg_5 .inner-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    /* position: relative; */
    /* bottom: 40%; */
    justify-content: end;
    padding-bottom: 45px;
}
.bg_6 .inner-text,
.bg_7 .inner-text,
.bg_8 .inner-text{
    padding-top: 54px;
}
.bg_6 .inner-text h5{
    letter-spacing: -0.6px;
}
.bg_6 .inner-link{
    padding-top: 10px;
}
.bg_6 .inner-link a {
    font-weight: normal;
    color: #3876e7;
}

.bi-play-circle-fill, .bi-arrow-up-right {
    font-size: 16px;
}
.bg_7{
    background: url("../img/promo-apple-fitness.jpg");
    background-size: cover;
    height: 625px;
    background-repeat: no-repeat;
    background-position: center;
}
.bg_8{
    background: url("../img/card.jpg");
    background-size: cover;
    height: 625px;
    background-repeat: no-repeat;
    background-position: center;
}
.bg_7 i.bi.bi-apple,.bg_8 i.bi.bi-apple {
    font-size: 35px;
    vertical-align: bottom;
}
.bg_7 h5,
.bg_8 h5
{
    color: #282121fa;
}
button.btn.btn-light {
    background: white;
    width:15%;
    border-radius: 65px;
}
.carousel-caption {
    position: absolute;
    right: 20%;
    /* left: 0%; */
    text-align: left;
    padding-bottom: 80px;
}
.carousel-caption span{
    color: white;
}
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    border: 1px solid white;
    background: #9d9b9b;
}
div#carouselExampleInterval {
    padding-bottom: 50px;
}
section.footer {
    padding: 25px 0px;
    background: #f5f5f7;
    margin-top: 4px;
}
.footer .list_1 a, .footer .list_2 a{
    text-decoration: underline !important;
}
.footer ol{
        list-style-position: inside;
}
.list_2 li{
    list-style-type: none;
}
ol.list_1, ul.list_2 {
    font-size: 12px;
    font-weight: 400;
    color: #59595b;
}
.footer li {
    line-height: 25px;
}
.footer .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.footer .navbar-expand-lg .navbar-nav {
    flex-direction: column;
}

.footer a.navbar-brand {
    font-size: 13px;
    font-weight: 600;
    color: #282829;
}
.footer a.nav-link, .footer p {
    padding: 0px !important;
    font-size: 12px;
    color: rgb(119, 119, 122);
    margin: 0;
}
.footer .bg-body-tertiary {
    background: #f5f5f7 !important;
}
.footer a.nav-link:hover,
.footer a.nav-link:focus,
.footer a.nav-link:active
 {
    color: #77777a !important;
    text-decoration: underline !important;
}
.footer button.navbar-toggler {
    border: 0;
}
.footer button.navbar-toggler:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
}
.footer .shop a{
    color: #3876e7 !important;
    text-decoration: underline !important;
}