*{
    padding: 0;
    margin: 0;
}

.container{
    width: 80%;
}

a.nav-link:hover,
a.nav-link:active,
a.nav-link:focus
{
    color: #f8f9fa !important;
}

li.nav-item {
    /* padding-left: 2%; */
    /* padding-right: 2%; */
}